.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  
}
.header-n{
    display: flex;
    gap: 2rem;
}
.header-links{
display: flex;
flex-direction: row;
    gap: 2rem;
}
.header-right-link{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}